*{
    margin: 0;
    padding-top: 0px;
}
body {
    font-family: Arial, sans-serif;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,233,226,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    width: 100%;
    padding: 0;
}

.container {
    display: flex;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,233,226,1) 100%);
    border-radius: 0px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    /* max-width: 900px; */
    width: 99%;
}

.image-container {
    flex: 1;
    width: 100%;



}

.image-container img {
    width: 100%;
    padding-top: 100px;
    /* align-items: center; */

    
    /* object-fit: cover; */
}

.form-container {
    flex: 1;
    padding: 20px;
}

.contact-form h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.contact-form label {
    margin-bottom: 8px;
    display: block;
    color: #333;
    font-weight: bold;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form input[type="tel"],
.contact-form textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 12px;
    box-sizing: border-box;
    background-color: rgba(238, 174, 226, 0.153);
}

.contact-form textarea {
    height: 100px;
    resize: vertical;
}

.contact-form input[type="submit"] {
    background-color: #007BFF;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

.contact-form input[type="submit"]:hover {
    background-color: #0056b3;
}
